
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 400 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/librefranklin/v7/jizBREVItHgc8qDIbSTKq4XkRiUa6zUTjg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/librefranklin/v7/jizDREVItHgc8qDIbSTKq4XkRiUf2zc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'Libre Franklin', Arial, sans-serif;  
    background-color: $background-body;
}

html{scroll-behavior:smooth;}


input,button{
    font-family: 'Libre Franklin', Arial,sans-serif;
    background:none;border:0;outline:0;
}

button{
    cursor:pointer;
    appearance:none
}

.has-mobile-gutter{
    padding: 0 20px;
}

.priority{
    z-index: 2;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

picture{
    display: block;
    position: relative;
    z-index: 2;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

span{
    font-size: 30px;
    margin-left:12px;
    margin-bottom: 6px;
}

.hamburguesa span{
    margin: initial;
}

.cover-link{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
