.noticia-multimedia3{
    position: relative;
    background-color: #2B2B2D;
    max-width: 280px;
    margin: 0 auto;
    border-bottom-right-radius: 10px;
    height: 100%;
    &-play{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    &-img{
        margin-bottom: 10px;
        width: 100%;

    }
    &-cartel-tendencia{
        display: flex;
        margin-bottom: 15px;
        padding-left: 20px;
        p{
            background-color: #F81616;
            color: white;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            padding: 4px 10px;
            text-transform: uppercase;
            border-radius: 30px;
        }
    }
    &-noticia{
        font-size: 18px;
        font-weight: bold;
        color: white;
        margin-bottom: 20px;
        padding: 0 20px;
    }
    &:hover{
        .noticia-multimedia3-noticia{
            color: #FFE55D;
        }
    }
    &-autoria{
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        padding-bottom: 20px;
        padding-left: 20px;
    }
}

@media only screen and (min-width: 1024px){

    .noticia-multimedia3{
        max-width: 300px;
    }
}